@import "tailwindcss";

@theme inline {
  --color-bgPrimary: #02131d;
  --color-bgSecondary: #062c43;
  --color-primary: #9ccddc;
  --color-secondary: #054569;
  --color-third: #5591a9;
  --color-slate: #ced7e0;
  --color-text: #e2f1ff;

  --font-body: Poppins, Poppins Fallback;
  --font-heading: Fraunces, Fraunces Fallback;
}

* {
  min-width: 0;
}
